<!-- The Modal -->
<div id="myModal" class="dltmodal">


    <div class="row text-center" style="margin: 20% auto;">
        <div class="col">
            <MudProgressCircular Color="Color.Primary" Style="height:110px;width:110px;" Indeterminate="true" />
        </div>

    </div>

</div>

@code {


}